name: Build and Publish ESP-IDF Toolchain Images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  base:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/jinlongshen/esp-idf-c3:latest
            ghcr.io/jinlongshen/esp-idf-c3:latest-${{ github.sha }}

  freetype:
    runs-on: ubuntu-24.04
    needs: base
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push freetype image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.freetype
          push: true
          tags: |
            ghcr.io/jinlongshen/esp-idf-c3-freetype:freetype
            ghcr.io/jinlongshen/esp-idf-c3-freetype:freetype-${{ github.sha }}

